h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  padding-top: 15px;
  padding-bottom: 15px;
  
  &:hover {
    color: #fff;
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #565656;
  }
}

.alert {
  width: 100%;
  position: fixed;
  z-index: 10000;
  margin-bottom: 0px;
}

.form-error {
  color: red;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  a {
    color: #fff !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    height: 40px;
  }
}

// topページ
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('bg-top.png');
  background-color: #464646;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 60px;
  }
}

//ユーザー登録ページ
.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #464646;
  background: image-url('bg-top.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  .users-new-container {
  padding-top: 110px;
  
    .form-group {
      margin-bottom: 20px;
    }
  }
}

//写真投稿ページ
.topic-new-wrapper {
  padding-top: 120px;
}

//写真投稿一覧ページ
.topic-index-wrapper {
    padding-top: 70px;
    background-color: #fafafa;
    
    .topic-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;      
    }
    
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-comment {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    
    .topic-index-icon {
      color: #fff;
      width: 35px;
      height: 30px;
      margin-left: 10px;
    }
    
    .heart-icon {
      margin-left: 10px;
    }
    
    .heart-gray {
      color: 	#696969;
    }
    
    .heart-pink {
      color: #DC143C;
    }
}

// コメントページ
.comments-new-wrapper {
  padding-top: 120px;
}


